lastupdate.tmp
.vscode/
evaluacion_inscripcion_crud
main
.scannerwork/
swagger/*.png
swagger/*.html
swagger/*.js
swagger/*.map
swagger/*.css
swagger/*.yml
swagger/*.json
swagger/css/
swagger/fonts/
swagger/images/
swagger/lang/
swagger/lib/
go.sum
go.mod
*.env
*.exe
*.zip
go.mod
go.sum